<div class="mt-3 text-center">
  <span>Is Viewer Disabled: </span>
  <input type="checkbox" (change)="change()" />
  <br />
  <br />
  <span>Simple button:</span>
  <div [ngClass]="{ 'not-allowed': checkIsViewerDisabled }">
    <button
      mat-button
      matTooltip
      extendMatButton
      [isViewerDisabled]="checkIsViewerDisabled"
      [viewerTooltip]="'Some Text'"
    >
      Disabled
    </button>
  </div>

  <br />
  <br />

  <span>Custom directive:</span>
  <div [ngClass]="{ 'not-allowed': checkIsViewerDisabled }">
    <button
      mat-button
      matTooltip
      [tooltip]="'some text'"
      [disabled]="checkIsViewerDisabled"
    >
      Disabled
    </button>
  </div>

  <br />
  <br />

  <span>Button generator:</span>
  <div
    [ngClass]="{ 'not-allowed': checkIsViewerDisabled }"
    custom-mat-button
    [isViewerDisabled]="checkIsViewerDisabled"
    [viewerTooltip]="'Some Text'"
  >
    Disabled
  </div>
</div>
