<div class="container">
  <div class="row">
    <div class="col col-sm-6 col-md-6">
      <section class="example-section">
        <span class="example-list-section">
          <mat-checkbox
            class="example-margin"
            [checked]="sensor().selected"
            [indeterminate]="partiallyChecked()"
            (change)="update($event.checked)"
          >
            {{ sensor().name }}
          </mat-checkbox>
        </span>
        <span class="example-list-section">
          <ul>
            @for (sensors of sensor().sensors; track sensors; let i = $index) {
            <li>
              <mat-checkbox
                [checked]="sensors.selected"
                (change)="update($event.checked, i)"
              >
                {{ sensors.name }}
              </mat-checkbox>
            </li>
            }
          </ul>
        </span>
      </section>
    </div>
    <div class="col col-sm-6 col-md-6">
      <mat-form-field>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input
            matStartDate
            formControlName="start"
            placeholder="Start date"
          />
          <input matEndDate formControlName="end" placeholder="End date" />
        </mat-date-range-input>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        @if (range.controls.start.hasError('matStartDateInvalid')) {
        <mat-error>Invalid start date</mat-error>
        } @if (range.controls.end.hasError('matEndDateInvalid')) {
        <mat-error>Invalid end date</mat-error>
        }
      </mat-form-field>
      @if (range.value.start && range.value.end) {
      <p>Selected range: {{ range.value | json }}</p>
      }
    </div>
    <div
      *ngFor="let chart of sensor().sensors; let i = index"
      class="col col-sm-12 col-md-6"
    >
      <div *ngIf="chart.selected">
        <div class="d-flex justify-content-end align-items-center">
          <span class="me-2">Line/Bar</span>
          <label class="switch">
            <input type="checkbox" (change)="changeChartType(i, $event)" />
            <span class="slider round"></span>
          </label>
        </div>

        <highcharts-chart
          [Highcharts]="Highcharts"
          [options]="chartOptions[i]"
          style="width: 100%; height: 100%; display: block"
        ></highcharts-chart>
      </div>
    </div>
  </div>
</div>
